@model List<ClientParcelViewModel>

@{
    ViewBag.Title = "Lista przesyłek";
}

<h1>Lista przesyłek</h1>
<h5>Lista nowo nadanych przesyłek on-line:</h5>

<table class="table table-hover table-striped">
    <thead class="thread-dark">
        <tr>
            <th scope="col">Id przesyłki</th>
            <th scope="col">Adres nadawcy</th>
            <th scope="col">Adres odbiorcy</th>
            <th scope="col" class="text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parcel in Model)
        {
            <tr>
                <td>@parcel.ParcelId</td>
                <td>ul.@parcel.SenderStreetName @parcel.SenderBlockNumber/@parcel.SenderFlatNumber, @parcel.SenderPostalCode @parcel.SenderCity</td>
                <td>ul.@parcel.ReceiverStreetName @parcel.ReceiverBlockNumber/@parcel.ReceiverFlatNumber, @parcel.ReceiverPostalCode @parcel.ReceiverCity</td>
                <td class="text-right" style="width: 24%;">
                    <div style="float:left;">
                        <form asp-action="CompleteData" asp-controller="BranchEmployee" asp-route-id="@parcel.ParcelId" method="get">
                            <button class="btn btn-primary" type="submit">Uzupełnij dane</button>
                        </form>
                    </div>
                    <form asp-action="DeleteParcel" asp-controller="BranchEmployee" asp-route-id="@parcel.ParcelId" method="post">
                        <button class="btn btn-danger" type="submit">Usuń zgłoszenie</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
