@model PersonDataViewModel

<h1>Twoje dane osobowe</h1>
<h5>Poniżej znajdują się Twoje dane osobowe, które możesz edytować:</h5>

<div class="container">

    <div class="row">

        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div id="ui">
                <form enctype="multipart/form-data" asp-controller="Account" asp-action="PersonalData" class="form-group">
                    <input hidden asp-for="@Model.PersonId" />
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Imię:</label>
                            <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nazwisko:</label>
                            <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                        </div>
                    </div>

                    <label>Nazwa ulicy:</label>
                    <input asp-for="StreetName" class="form-control" value="@Model.StreetName" />

                    <label>Numer bloku:</label>
                    <input asp-for="BlockNumber" class="form-control" value="@Model.BlockNumber" />

                    <label>Numer mieszkania:</label>
                    <input asp-for="FlatNumber" class="form-control" value="@Model.FlatNumber" />

                    <div class="row">
                        <div class="col-lg-6">
                            <label>Kod pocztowy:</label>
                            <input asp-for="PostalCode" class="form-control" value="@Model.PostalCode" />
                        </div>

                        <div class="col-lg-6">
                            <label>Miasto:</label>
                            <input asp-for="City" class="form-control" value="@Model.City" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label>Numer telefonu:</label>
                            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
                        </div>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="col-lg-pull-6">
                        <br />
                        <button type="submit" class="btn btn-primary btn-block">Zatwierdź zmiany</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-block">Anuluj i wróć do strony głównej</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>