@model List<ParcelViewModel>

@{
    ViewBag.Title = "Lista przesyłek do dostarczenia";
}

<h1>Lista przesyłek do dostarczenia</h1>
<h5>Lista wydanych przesyłek do dostarczenia:</h5>

<table class="table table-hover table-striped">
    <thead class="thread-dark">
        <tr>
            <th scope="col">Id przesyłki</th>
            <th scope="col">Adres odbiorcy</th>
            <th scope="col" class="text-right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parcel in Model)
        {
            <tr>
                <td>@parcel.ParcelId</td>
                <td>ul.@parcel.ReceiverStreetName @parcel.ReceiverBlockNumber/@parcel.ReceiverFlatNumber, @parcel.ReceiverPostalCode @parcel.ReceiverCity</td>
                <td class="text-right">
                    <form asp-action="Delivered" asp-controller="Courier" asp-route-id="@parcel.ParcelId" method="post">
                        <button class="btn btn-primary" type="submit">Przesyłka dostarczona</button>
                    </form>
                    <form asp-action="ParcelsToDeliever" asp-controller="Courier" asp-route-id="@parcel.ParcelId" method="post">
                        <button class="btn btn-danger" type="submit">Nieudana próba doręczenia</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>