@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System kurierski</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/parcel-logo.png" style="width: 40px; height: auto;" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Kierownik"))
                    {
                        <li><a asp-controller="Manager" asp-action="AllEmployees">Pracownicy</a></li>
                    }

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Pracownik sortowni"))
                    {
                        // zaimplementuj kontroler, akcje i widoki
                        <li><a asp-controller="Warehouseman" asp-action="Couriers">Lista kurierów</a></li>
                        <li><a asp-controller="Warehouseman" asp-action="ParcelsToRegister">Przyjmij nowe przesyłki</a></li>
                    }

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Pracownik oddziału"))
                    {
                        // zaimplementuj akcję i widok
                        <li><a asp-controller="BranchEmployee" asp-action="RegisterParcel">Zarejestruj przesyłkę</a></li>
                        <li><a asp-controller="BranchEmployee" asp-action="OnlineOrders">Aktualne zlecenia</a></li>
                        // zaimplementuj akcję
                        <li><a asp-controller="BranchEmployee" asp-action="ParcelsToSend">Przesyłki do wysłania</a></li>
                        // zaimplementuj akcję
                        <li><a asp-controller="BranchEmployee" asp-action="ParcelsToPick">Przesyłki do odebrania</a></li>
                    }

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Kurier"))
                    {
                        // zaimplementuj kontroler i widok
                        <li><a asp-controller="Courier" asp-action="ParcelsToDeliever">Do dostarczenia</a></li>
                        <li><a asp-controller="Courier" asp-action="ToDelieverNextDay">Do doręczenia kolejnego dnia</a></li>
                        <li><a asp-controller="Courier" asp-action="ToReturn">Do zwrotu</a></li>
                    }

                    @if (!signInManager.IsSignedIn(User) || (signInManager.IsSignedIn(User) && User.IsInRole("Klient")))
                    {
                        // zaimplementuj widok i akcję wyświetlania historii przesyłki
                        <li><a asp-controller="ClientParcel" asp-action="EnterCode">Sprawdź status przesyłki</a></li>
                        <li><a asp-controller="ClientParcel" asp-action="PostParcel">Nadaj przesyłkę online</a></li>
                        <li class="nav-item dropdown">
                            <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                Informacje
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Home" asp-action="About">O firmie</a></li>
                                <li><a asp-controller="Home" asp-action="Prices">Oferta</a></li>
                                <li><a asp-controller="Home" asp-action="About">Adresy</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Pomoc
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Home" asp-action="About">Kontakt</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Home" asp-action="About">O aplikacji</a></li>
                    }
                </ul>

                @if (signInManager.IsSignedIn(User))
                {
                    var person = ViewData["PersonId"] as int?;

                    <ul class="nav navbar-nav navbar-right" style="margin: 0 -67px;">
                        <li class="nav-item dropdown">
                            <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                @User.Identity.Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Account" asp-action="PersonalData" , asp-route-id="@person">Dane osobowe</a></li>
                                <li>
                                    <form asp-action="Logout" asp-controller="Account">
                                        <button class="list-item" type="submit">Wyloguj</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                @if (!signInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav navbar-right" style="margin: 0 -67px;">
                        <li><a asp-controller="Account" asp-action="Register" class="navbar-link"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="navbar-link"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="container">
            <div class="row top-panel">
                Mistrzowie dostawy
            </div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; System kurierski - Piotr Kołeczek</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
