@model List<EmployeeViewModel>

@{
    ViewBag.Title = "Pracownicy";
}

<h1>Pracownicy</h1>
<h5>Lista pracowników w firmie wraz z ich zajmowanymi stanowiskami:</h5>

<table class="table table-hover table-striped">
    <thead class="thread-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Numer telefonu</th>
            <th scope="col">Stanowisko</th>
            <th scope="col" class="text-right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.EmployeeId</th>
                <td hidden>@employee.UserId</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.PhoneNumber</td>
                <td>
                    @employee.Role
                </td>
                <td class="text-right">
                    <form asp-action="DeleteEmployee" asp-controller="Manager" asp-route-id="@employee.PersonId" method="post">
                        <button class="btn btn-danger" type="submit">Usuń</button>
                    </form>
                    <form asp-action="EditEmployee" asp-controller="Manager" asp-route-id="@employee.EmployeeId" method="get">
                        <button class="btn btn-primary" type="submit">Edycja</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
