@model EmployeeViewModel

@{
    ViewBag.Title = "Edycja danych pracownika";
}

<h1>Edycja pracownika</h1>

<br />

<div class="row">

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div id="ui">
            <form enctype="multipart/form-data" asp-controller="Manager" asp-action="EditEmployee" class="form-group">
                <input hidden asp-for="@Model.UserId" />
                <input hidden asp-for="@Model.EmployeeId" />
                <input hidden asp-for="@Model.PersonId" />
                <div class="row">
                    <div class="col-lg-6">
                        <label>Imię:</label>
                        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                    </div>

                    <div class="col-lg-6">
                        <label>Nazwisko:</label>
                        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                    </div>
                </div>

                <label>Nazwa ulicy:</label>
                <input asp-for="StreetName" class="form-control" value="@Model.StreetName" />

                <label>Numer bloku:</label>
                <input asp-for="BlockNumber" class="form-control" value="@Model.BlockNumber" />

                <label>Numer mieszkania:</label>
                <input asp-for="FlatNumber" class="form-control" value="@Model.FlatNumber" />

                <div class="row">
                    <div class="col-lg-6">
                        <label>Kod pocztowy:</label>
                        <input asp-for="PostalCode" class="form-control" value="@Model.PostalCode" />
                    </div>

                    <div class="col-lg-6">
                        <label>Miasto:</label>
                        <input asp-for="City" class="form-control" value="@Model.City" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label>Numer telefonu:</label>
                        <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
                    </div>

                    <div class="col-lg-6">
                        <div>
                            <label>Stanowisko:</label>
                        </div>

                        <div>
                            @{
                                @Html.DropDownListFor(x => x.Role, new List<SelectListItem> {
                           new SelectListItem { Text = "Kierownik", Value = "Kierownik", },
                           new SelectListItem { Text = "Kurier", Value = "Kurier", },
                           new SelectListItem { Text = "Pracownik oddziału", Value = "Pracownik oddziału" },
                           new SelectListItem { Text = "Pracownik sortowni", Value = "Pracownik sortowni" }}, new { id="Role", @class="form-control" })
                            }
                        </div>
                    </div>

                </div>

                <div>
                    <label>Oddział pracownika:</label>
                </div>

                <div>
                    @{
                        @Html.DropDownListFor(x => x.BranchName, new List<SelectListItem> {
                       new SelectListItem { Text = "Oddział Rzeszów", Value = "Oddział Rzeszów", },
                   new SelectListItem { Text = "Oddział Brzozów", Value = "Oddział Brzozów", },
                   new SelectListItem { Text = "Oddział Przemyśl", Value = "Oddział Przemyśl", },
                   new SelectListItem { Text = "Oddział Dębica", Value = "Oddział Dębica", },
                   new SelectListItem { Text = "Oddział Krosno", Value = "Oddział Krosno" }}, new { id="BranchName", @class="form-control" })
                    }
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="col-lg-pull-6">
                    <br />
                    <button type="submit" class="btn btn-primary btn-block">Zatwierdź zmiany</button>
                    <a asp-controller="Manager" asp-action="AllEmployees" class="btn btn-danger btn-block">Wróć do strony poprzedniej</a>
                </div>
            </form>
        </div>
    </div>
</div>